@font-face {
    font-family: 'cenzo_flaremedium';
    src: url('../fonts/cf/cenzoflare-med-webfont.eot');
    src: url('../fonts/cf/cenzoflare-med-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cf/cenzoflare-med-webfont.woff2') format('woff2'), url('../fonts/cf/cenzoflare-med-webfont.woff') format('woff'), url('../fonts/cf/cenzoflare-med-webfont.ttf') format('truetype'), url('../fonts/cf/cenzoflare-med-webfont.svg#cenzo_flaremedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pretaporterslab_reg';
    src: url('../fonts/pp/pretaporterslab-reg.eot?#iefix') format('embedded-opentype'), url('../fonts/pp/pretaporterslab-reg.woff') format('woff'), url('../fonts/pp/pretaporterslab-reg.ttf') format('truetype'), url('../fonts/pp/pretaporterslab-reg.svg#pretaporterslab_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pretaporterslab_bold';
    src: url('../fonts/pp/pretaporterslab-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/pp/pretaporterslab-bold.woff') format('woff'), url('../fonts/pp/pretaporterslab-bold.ttf') format('truetype'), url('../fonts/pp/pretaporterslab-bold.svg#pretaporterslab_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

$bodyfont: 'pretaporterslab_reg';
$boldbodyfont: 'pretaporterslab_bold';
$headfont: 'cenzo_flaremedium';
$brand: #e86851;
$white: #fff;
$black: #000;
$grey: #939598;
$mobile-lg: 415px;
body {
    background-color: $black;
    color: $white;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-family: $bodyfont;
}

a,
h1,
h2,
h3 {
    font-family: $headfont;
    font-size: 1.25rem;
}

em {
    color: $brand;
    font-style: normal;
}

strong,
em {
    font-family: $boldbodyfont;
    font-weight: 600;
}

.wrap {
    margin: 0 auto;
    max-width: 1135px;
    .container {
        width: 90%;
        margin: 0 auto;
        @media screen and (min-width: 1400px) {
            max-width: 768px;
            main {
                background-size: cover;
            }
        }
        @media screen and (min-width: 1100px) and (max-width: 1399px) {
            max-width: 992px;
            main {
                background-size: 1400px !important;
                background-position: 50% 30%;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1099px) {
            max-width: 600px;
            #product-img {
                max-height: 900px;
            }
            #product-summary {
                width: 50%;
                top: 12%;
            }
        }
        @media screen and (min-width: 415px) and (max-width: 767px) {
            max-width: 80%;
            #product-img {
                max-height: 600px;
            }
            #product-summary {
                width: 50%;
                top: 9%;
            }
        }
        @media screen and (min-width:$mobile-lg) {
            nav #contact-container {
                padding-top: 21px !important;
            }
            aside {
                padding-top: 3rem;
            }
        }
        @media screen and (min-width:300px) {
            nav #contact-container {
                padding-top: 26px;
            }
        }
    }
    header,
    footer {
        nav a {
            border-bottom: solid 3px transparent;
            &:hover,
            &:active {
                border-bottom-color: $brand;
            }
        }
        a {
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 0 0 0.25rem 0;
            &:hover,
            &:active {
                color: $brand;
            }
        }
    }
    header {
        nav {
            height: 78px;
            width: 100%;
            display: flex;
            white-space: nowrap;
            div {
                flex: 1;
                padding: 18px 0;
            }
            #logo-container {
                text-align: left;
                a {
                    &:hover,
                    &:active {
                        border-bottom-color: transparent;
                    }
                }
                img {
                    height: 42px;
                    width: 45px;
                }
            }
            #contact-container {
                text-align: right;
                padding: 21px 0 0 0;
            }
        }
        #mast-image {
            width: 100%;
            height: 100vh;
            background-size: cover;
        }
    }
    main {
        background: #fff url('../img/base.png') 50% 135px no-repeat;
        background-size: 100%;
        color: $black;
        article {
            header {
                padding: 2rem 0 0 0;
            }
            .text-content {
                padding: 0.5rem 0 2rem 0;
            }
            h1 {
                margin: 0;
                color: $brand;
                font-size: 1.9rem;
                letter-spacing: 0.5rem;
            }
        }
    }
    aside {
        background: url('../img/product-filter.png') top left repeat;
        section {
            background: url('../img/product-grad.png') bottom left repeat-x;
        }
        #product {
            padding: 4rem 0 1rem 0;
            position: relative;
            text-align: center;
        }
        #product-img {
            max-height: 1100px;
            width: 100%;
        }
        #product-summary {
            @media screen and (min-width: $mobile-lg) {
                position: absolute;
                left: 45%;
                top: 12%;
                width: 33%;
            }
            font-size:1.5rem;
        }
    }
    .product-summary {
        background-color: #fff;
        min-height: 100px;
        padding: 0.5rem 0
    }
    @media screen and (min-width:$mobile-lg) and (max-width:767px) {
        header {
            #mast-image {
                background-size: 1000px !important;
            }
        }
    }
    @media screen and (min-width:$mobile-lg) {
        header {
            #mast-image {
                background: url('../img/main.jpg') no-repeat 50% 50%;
                max-height: 1165px;
                background-size: auto 100%;
            }
        }
    }
    @media screen and (max-width:414px) {
        header {
            #mast-image {
                background: url('../img/main-mob.jpg') no-repeat 50% 50%;
                max-height: 343px;
                background-size: cover;
            }
        }
    }
    footer {
        min-height: 114px;
        border-top: solid 1px $brand;
        @media screen and(max-width: $mobile-lg) {
            padding-bottom: 1rem;
        }
        div {
            margin: 1rem auto;
            width: 100%;
            .copyright {
                font-size: 18px;
                @media screen and (min-width: $mobile-lg) {
                    margin-bottom: 0;
                }
                @media screen and (max-width: 414px) {
                    font-size: 20px;
                }
            }
            @media screen and (min-width:$mobile-lg) {
                max-width: $mobile-lg;
            }
            ul {
                width: 100%;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    font-size: 0.75rem;
                    height: 1rem;
                    text-transform: uppercase;
                    list-style: none;
                    padding: 0 1rem;
                    margin: 0;
                    border: 0;
                    a {
                        font-size: 0.75rem;
                    }
                    @media screen and (min-width:$mobile-lg) {
                        &:first-of-type {
                            border-right: solid 2px $grey;
                            margin-right: -5px;
                        }
                    }
                    @media screen and (max-width:414px) {
                        display: block;
                        padding: 0.25rem 0;
                        a {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}