@font-face { font-family: 'cenzo_flaremedium'; src: url("../fonts/cf/cenzoflare-med-webfont.eot"); src: url("../fonts/cf/cenzoflare-med-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cf/cenzoflare-med-webfont.woff2") format("woff2"), url("../fonts/cf/cenzoflare-med-webfont.woff") format("woff"), url("../fonts/cf/cenzoflare-med-webfont.ttf") format("truetype"), url("../fonts/cf/cenzoflare-med-webfont.svg#cenzo_flaremedium") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'pretaporterslab_reg'; src: url("../fonts/pp/pretaporterslab-reg.eot?#iefix") format("embedded-opentype"), url("../fonts/pp/pretaporterslab-reg.woff") format("woff"), url("../fonts/pp/pretaporterslab-reg.ttf") format("truetype"), url("../fonts/pp/pretaporterslab-reg.svg#pretaporterslab_light") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'pretaporterslab_bold'; src: url("../fonts/pp/pretaporterslab-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/pp/pretaporterslab-bold.woff") format("woff"), url("../fonts/pp/pretaporterslab-bold.ttf") format("truetype"), url("../fonts/pp/pretaporterslab-bold.svg#pretaporterslab_bold") format("svg"); font-weight: normal; font-style: normal; }

body { background-color: #000; color: #fff; border: 0; margin: 0; padding: 0; text-align: center; font-size: 24px; font-family: "pretaporterslab_reg"; }

a, h1, h2, h3 { font-family: "cenzo_flaremedium"; font-size: 1.25rem; }

em { color: #e86851; font-style: normal; }

strong, em { font-family: "pretaporterslab_bold"; font-weight: 600; }

.wrap { margin: 0 auto; max-width: 1135px; }

.wrap .container { width: 90%; margin: 0 auto; }

@media screen and (min-width: 1400px) { .wrap .container { max-width: 768px; }
  .wrap .container main { background-size: cover; } }

@media screen and (min-width: 1100px) and (max-width: 1399px) { .wrap .container { max-width: 992px; }
  .wrap .container main { background-size: 1400px !important; background-position: 50% 30%; } }

@media screen and (min-width: 768px) and (max-width: 1099px) { .wrap .container { max-width: 600px; }
  .wrap .container #product-img { max-height: 900px; }
  .wrap .container #product-summary { width: 50%; top: 12%; } }

@media screen and (min-width: 415px) and (max-width: 767px) { .wrap .container { max-width: 80%; }
  .wrap .container #product-img { max-height: 600px; }
  .wrap .container #product-summary { width: 50%; top: 9%; } }

@media screen and (min-width: 415px) { .wrap .container nav #contact-container { padding-top: 21px !important; }
  .wrap .container aside { padding-top: 3rem; } }

@media screen and (min-width: 300px) { .wrap .container nav #contact-container { padding-top: 26px; } }

.wrap header nav a, .wrap footer nav a { border-bottom: solid 3px transparent; }

.wrap header nav a:hover, .wrap header nav a:active, .wrap footer nav a:hover, .wrap footer nav a:active { border-bottom-color: #e86851; }

.wrap header a, .wrap footer a { color: #fff; text-decoration: none; text-transform: uppercase; display: inline-block; padding: 0 0 0.25rem 0; }

.wrap header a:hover, .wrap header a:active, .wrap footer a:hover, .wrap footer a:active { color: #e86851; }

.wrap header nav { height: 78px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; white-space: nowrap; }

.wrap header nav div { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 18px 0; }

.wrap header nav #logo-container { text-align: left; }

.wrap header nav #logo-container a:hover, .wrap header nav #logo-container a:active { border-bottom-color: transparent; }

.wrap header nav #logo-container img { height: 42px; width: 45px; }

.wrap header nav #contact-container { text-align: right; padding: 21px 0 0 0; }

.wrap header #mast-image { width: 100%; height: 100vh; background-size: cover; }

.wrap main { background: #fff url("../img/base.png") 50% 135px no-repeat; background-size: 100%; color: #000; }

.wrap main article header { padding: 2rem 0 0 0; }

.wrap main article .text-content { padding: 0.5rem 0 2rem 0; }

.wrap main article h1 { margin: 0; color: #e86851; font-size: 1.9rem; letter-spacing: 0.5rem; }

.wrap aside { background: url("../img/product-filter.png") top left repeat; }

.wrap aside section { background: url("../img/product-grad.png") bottom left repeat-x; }

.wrap aside #product { padding: 4rem 0 1rem 0; position: relative; text-align: center; }

.wrap aside #product-img { max-height: 1100px; width: 100%; }

.wrap aside #product-summary { font-size: 1.5rem; }

@media screen and (min-width: 415px) { .wrap aside #product-summary { position: absolute; left: 45%; top: 12%; width: 33%; } }

.wrap .product-summary { background-color: #fff; min-height: 100px; padding: 0.5rem 0; }

@media screen and (min-width: 415px) and (max-width: 767px) { .wrap header #mast-image { background-size: 1000px !important; } }

@media screen and (min-width: 415px) { .wrap header #mast-image { background: url("../img/main.jpg") no-repeat 50% 50%; max-height: 1165px; background-size: auto 100%; } }

@media screen and (max-width: 414px) { .wrap header #mast-image { background: url("../img/main-mob.jpg") no-repeat 50% 50%; max-height: 343px; background-size: cover; } }

.wrap footer { min-height: 114px; border-top: solid 1px #e86851; }

@media screen and (max-width: 415px) { .wrap footer { padding-bottom: 1rem; } }

.wrap footer div { margin: 1rem auto; width: 100%; }

.wrap footer div .copyright { font-size: 18px; }

@media screen and (min-width: 415px) { .wrap footer div .copyright { margin-bottom: 0; } }

@media screen and (max-width: 414px) { .wrap footer div .copyright { font-size: 20px; } }

@media screen and (min-width: 415px) { .wrap footer div { max-width: 415px; } }

.wrap footer div ul { width: 100%; margin: 0; padding: 0; }

.wrap footer div ul li { display: inline-block; font-size: 0.75rem; height: 1rem; text-transform: uppercase; list-style: none; padding: 0 1rem; margin: 0; border: 0; }

.wrap footer div ul li a { font-size: 0.75rem; }

@media screen and (min-width: 415px) { .wrap footer div ul li:first-of-type { border-right: solid 2px #939598; margin-right: -5px; } }

@media screen and (max-width: 414px) { .wrap footer div ul li { display: block; padding: 0.25rem 0; }
  .wrap footer div ul li a { font-size: 0.9rem; } }
/*# sourceMappingURL=app.css.map */